.App {
  font-family: work-sans, sans-serif;
  text-align: center;
}

h1 {
  font-weight: 400;
}

#color-div,
#color-div2 {
  padding-top: 5em;
  padding-bottom: 5em;
  margin-bottom: 3em;
}

#color-btn {
  font-size: 1.5rem;
  padding: 1em 2em;
  background: #262424;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

#second-button {
  font-size: 1.5rem;
  padding: 1em 2em;
  color: #262424;
  border: 2 solid #262424;
  cursor: pointer;
  border-radius: 12px;
}